@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background: #4b33a8;
}
/* login */

.box-area{
    width: 930px;
}

/* right-box */
.right-box{
    padding: 40px 30px 40px 40px;
}

/* placeholder */
::placeholder{
    font-size: 16px;
}

/* mobile */
@media only screen and (max-width: 768px){
    .box-area{
        width: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}