@import url('https://fonts.googleapis.com/css?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --crl-main: #4b33a8;
    --crl-main-light: #6f5bd2;
    --crl-white: #ececec;
    --crl-gray: #e2e2e2;
    --crl-red: #961818;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
    
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--crl-main);
}
aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--crl-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

footer {
    color: var(--crl-main-light);
    font-size: .85rem;
}

main {
    background-color: var(--crl-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--crl-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--crl-main);
    color: var(--crl-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--crl-white);
    color: var(--crl-main);
    padding: .25rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--crl-white); 
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--crl-maing);
    color: var(--crl-main);
}

.logo-img {
    max-width: 60% !important;
    max-height: 60% !important;
}

.btn-menu {
    background-color: transparent;
    border: 0;
    color: var(--crl-white);
    font-size: .85rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
}

.btn-menu.active {
    background-color: var(--crl-white);
    color: var(--crl-main);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;    
}

.btn-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--crl-white);
}

.btn-menu.active::after {
    content: '';
    position: relative;
    right: 0;
    width: 1rem;
    height: 2rem;
    top: 100%;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--crl-white);
}

























